/* WELCOME PAGE*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin:auto;
}

.linksNav > a{
    color: #636b6f;
    padding: 0 30px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.position-relative {
    position: relative;
}
.full-height {
    height: 100vh;
}




/* TEMPLATE OTHER PAGE*/
.sizeTxtNav{
    font-size:80%;
}
.footerDiv{
    color:#555555;
    font-size:20px;
    box-shadow: 1px 1px 3px #555;
}


